{{- if .Values.opentelemetryCollector.enabled }}
apiVersion: opentelemetry.io/v1alpha1
kind: OpenTelemetryCollector
metadata:
  name: {{ .Values.opentelemetryCollector.name }}
  namespace: {{ .Values.global.namespace }}
spec:
  mode: deployment
  image: {{ .Values.opentelemetryCollector.image }}
  resources:
    {{- toYaml .Values.opentelemetryCollector.resources | nindent 4 }}
  config: |
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

    processors:
      batch:

    exporters:
      debug:
        verbosity: detailed
      otlp:
        endpoint: "{{ .Values.opentelemetryCollector.exporters.tempoEndpoint }}"
        tls:
          insecure: true
      prometheusremotewrite:
        endpoint: "{{ .Values.opentelemetryCollector.exporters.prometheusEndpoint }}"

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp, debug]
        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheusremotewrite, debug]
{{- end }}
